.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}