.App{
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
  box-sizing: border-box;
  height: 100vh;
  width:100vw;
  max-width: 100%;
  overflow-x:hidden;
  overflow-y: hidden;
  transition: background 0.3s ease, color 0.3s ease;
}